[flake8]
exclude = .git,build,docs,archive
max-line-length = 88
extend-ignore =
    B007,
    # Loop control variable 'i' not used within the loop body
    B020,
    # Found for loop that reassigns the iterable it is iterating with each iterable value
    B023,
    # Function definition does not bind loop variable
    B026,
    # Star-arg unpacking after a keyword argument is strongly discouraged
    W503,
    # W503: line break before binary operator
    W504,
    # W504: line break after binary operator
    E203,
    # E203: Whitespace before ':'
    E231,
    E225,
    E302,
    E265,
    E251,
    E261,
    E501,
    E128,
    E222,
    E266,
    E201,
    E202,
    E303,
    E502,
    E262,
    E127,
    E221,
    E305,
    E301,
    E115,
    E122,
    E116,
    

