*.py[oc]
# setup.py working directory
build
# setup.py dist directory
./dist
#docs build and others
#generated  #not yet? generated for dataset not rebuild
docs/source/generated
docs/source/dev/generated
docs/source/examples/generated

# generated c source and built extensions
*.c
*.so
*.pyd

# repository directories for bzr-git
.bzr
.git
marks.git
marks.bzr

# Editor temporary/working/backup files
*$
.*.sw[nop]
.sw[nop]
*~
[#]*#
.#*
*.bak
*.tmp
*.tgz
*.rej
*.org
.project
*.diff
.settings/
*.svn/
*.log.py
# Egg metadata
./*.egg-info
# The shelf plugin uses this dir
./.shelf
# Mac droppings
.DS_Store
help

# Project specific
statsmodels/version.py
