Alexander W Blocker <ablocker@gmail.com>  Alexander W Blocker <ablocker@gmail.com> 
Alex Griffing <argriffi@ncsu.edu> alex <argriffi@ncsu.edu>
Alexis Roche <alexis.roche@gmail.com>  Alexis Roche <alexis.roche@gmail.com> 
Ana Martinez Pardo <anamartinezpardo@gmail.com>  Ana Martinez Pardo <anamartinezpardo@gmail.com> 
Ana Martinez Pardo <anamartinezpardo@gmail.com>  Ana Martinez Pardo <anamartinezpardo@gmailcom> 
anov <novikova.go.zoom@gmail.com>  anov <novikova.go.zoom@gmail.com> 
avishaylivne <avishay.livne@gmail.com>  avishaylivne <avishay.livne@gmail.com> 
Bart Baker <bartbkr@gmail.com>  Bart Baker <bartbkr@gmail.com> 
Bart Baker <bartbkr@gmail.com>  bartbkr <bartbkr@gmail.com> 
Bart Baker <bartbkr@gmail.com>  bartbkr@gmail.com <bart@bart-Inspiron-1525.(none)> 
Ben Duffield <bduffield@palantir.com> benduffield <bduffield@palantir.com>
Benjamin Thyreau <benjamin@neron>  benjamin.thyreau <> 
brian.hawthorne <>  brian.hawthorne <> 
Bruno Rodrigues <rodrigues.bruno@aquitania.org>  Bruno Rodrigues <rodrigues.bruno@aquitania.org> 
Carl Vogel <carljv@gmail.com>  Carl Vogel <carljv@gmail.com> 
Chad Fulton <chad@chadfulton.com>  Chad Fulton <chad@chadfulton.com> 
Chris Jordan-Squire <cjordan1@uw.edu>  Chris Jordan-Squire <cjordan1@uw.edu> 
Christian Prinoth <christian@prinoth.name>  Christian Prinoth <christian@prinoth.name> 
Christopher Burns  cburns <> 
Christopher Burns <cburns@localhost.localdomain>  Chris <cburns@localhost.localdomain> 
Christopher Burns <cburns@berkeley.edu>  Christopher Burns <cburns@berkeley.edu> 
Cindee Madison <cindee@berkeley.edu>  Cindee Madison <cindeem@8d8.local> 
Daniel B. Smith <neuromathdan@gmail.com>  Daniel B. Smith <neuromathdan@gmail.com> 
davclark <>  davclark <> 
dengemann <denis.engemann@gmail.com>  dengemann <denis.engemann@gmail.com> 
Dieter Vandenbussche <dvandenbussche@axioma.com>  Dieter Vandenbussche <dvandenbussche@axioma.com> 
Dougal Sutherland <dougal@gmail.com>  Dougal Sutherland <dougal@gmail.com> 
Enrico Giampieri <enrico.giampieri@unibo.it>  Enrico Giampieri <enrico.giampieri@unibo.it> 
Eric Chiang <eric.chiang.m@gmail.com> ericchiang <eric.chiang.m@gmail.com>
evelynmitchell <efm-github@linsomniac.com>  evelynmitchell <efm-github@linsomniac.com> 
Evgeni Burovski <evgeni@burovski.me> Zhenya <evgeni@burovski.me>
Fernando Perez <Fernando.Perez@berkeley.edu>  fdo.perez <> 
Fernando Perez <Fernando.Perez@berkeley.edu>  Fernando Perez <Fernando.Perez@berkeley.edu> 
Gael Varoquaux <gael.varoquaux@normalesup.org>  Gael Varoquaux <gael.varoquaux@normalesup.org> 
George Panterov <econgpanterov@gmail.com>  George Panterov <econgpanterov@gmail.com> 
Grayson <graysonbadgley@gmail.com>  Grayson <graysonbadgley@gmail.com> 
Jan Schulz <jasc@gmx.net>  Jan Schulz <jasc@gmx.net> 
Jarrod Millman <jarrod.millman@gmail.com>  jarrod.millman <> 
Jarrod Millman <jarrod.millman@gmail.com>  Jarrod Millman <millman@berkeley.edu> 
Jeff Reback <jeff@reback.net> jreback <jeff@reback.net>
Jonathan Taylor <jtaylo@miller.stanford.edu>  jonathan.taylor <> 
Jonathan Taylor <jtaylo@miller.stanford.edu>  Jonathan Taylor <jonathan.taylor@stanford.edu> 
Jonathan Taylor <jtaylo@miller.stanford.edu>  Jonathan Taylor <jtaylo@dell-desktop> 
Jonathan Taylor <jtaylo@miller.stanford.edu>  Jonathan Taylor <jtaylo@grf> 
Jonathan Taylor <jtaylo@miller.stanford.edu>  Jonathan Taylor <jtaylo@kff> 
Jonathan Taylor <jtaylo@miller.stanford.edu>  jtaylo <jtaylo@ubuntu.dms.umontreal.ca> 
Josef Perktold <josef.pktd@gmail.com>  Josef Perktold <josef.pktd@gmail.com> 
Justin Grana <jg3705a@student.american.edu>  Justin Grana <jg3705a@student.american.edu> 
langmore <ianlangmore@gmail.com>  langmore <ianlangmore@gmail.com> 
Matthew Brett <matthew.brett@gmail.com>   matthew.brett <> 
Matthew Brett <matthew.brett@gmail.com>   Matthew Brett <> 
Matthew Brett <matthew.brett@gmail.com>  Matthew Brett <matthew.brett@gmail.com> 
Matthew Brett <matthew.brett@gmail.com>   Matthew Brett <mb312@millroad> 
Matthieu Brucher <matthieu.brucher@gmail.com>  Matthieu Brucher <matthieu.brucher@gmail.com> 
michael.castelle <>  michael.castelle <> 
Mike Crowe <m.j.a.crowe@gmail.com>  Mike Crowe <m.j.a.crowe@gmail.com> 
Mike Crowe <m.j.a.crowe@gmail.com>  Mike Crowe <m.j.a.crowe@googlemail.com> 
Mike Crowe <m.j.a.crowe@gmail.com>  Mike <m.j.a.crowe@googlemail.com> 
Nathaniel J. Smith <njs@pobox.com>  Nathaniel J. Smith <njs@pobox.com> 
otterb <itoi@live.com>  otterb <itoi@live.com> 
Padarn Wilson <padarn@wilsonp.anu.edu.au>  padarn <padarn@wilsonp.anu.edu.au> 
Padarn Wilson <padarn@gmail.com> Padarn <padarn@Padarns-MacBook-Air.local>
Paris Sprint Account <paris@grf>  Paris Sprint Account <paris@grf> 
Paul Hobson <pmhobson@gmail.com>  Paul Hobson <pmhobson@gmail.com> 
Peter Prettenhofer <peter.prettenhofer@gmail.com>  Peter Prettenhofer <peter.prettenhofer@gmail.com> 
Pietro Battiston <me@pietrobattiston.it>  Pietro Battiston <me@pietrobattiston.it> 
Ralf Gommers <ralf.gommers@googlemail.com>  Ralf Gommers <ralf.gommers@googlemail.com> 
Richard T. Guy <richardtguy84@gmail.com>  Richard T. Guy <richardtguy84@gmail.com> 
Robert Cimrman <cimrman3@ntc.zcu.cz>  Robert Cimrman <cimrman3@ntc.zcu.cz> 
Roger Lew <rogerlew@gmail.com>  Roger Lew <rogerlew@gmail.com> 
scottpiraino <scottpiraino@gmail.com>  scottpiraino <scottpiraino@gmail.com> 
sebastien.meriaux <>  sebastien.meriaux <> 
Skipper Seabold <jsseabold@gmail.com>  jsseabold <> 
Skipper Seabold <jsseabold@gmail.com>  jsseabold <jsseabold@gmail.com> 
Skipper Seabold <jsseabold@gmail.com>  Skipper Seabold <jsseabold@gmail.com> 
skipper seabold <skipper@linux-laptop>  skipper seabold <skipper@linux-laptop> 
Skipper Seabold <jsseabold@gmail.com>  skipper <skipper@linux-desktop> 
Skipper Seabold <jsseabold@gmail.com>  skipper <skipper@linux-econ2> 
Steve Genoud <sgenoud@ethz.ch>  Steve Genoud <sgenoud@ethz.ch> 
Thomas Haslwanter <thomas.haslwanter@fh-linz.at>  Thomas Haslwanter <thomas.haslwanter@fh-linz.at> 
Thomas Kluyver <takowl@gmail.com>  Thomas Kluyver <takowl@gmail.com> 
tim.leslie <>  tim.leslie <> 
timmie <timmichelsen@gmx-topmail.de>  timmie <timmichelsen@gmx-topmail.de> 
Tom Augspurger <thomas-augspurger@uiowa.edu>  TomAugspurger <thomas-augspurger@uiowa.edu> 
Tom Augspurger <thomas-augspurger@uiowa.edu> Tom Augspurger <tom.augspurger88@gmail.com>
Tom Waite <twaite@berkeley.edu>  Tom Waite <twaite@berkeley.edu> 
Tom Waite <twaite@berkeley.edu>  twaite <twaite@TOM-DUAL> 
Trent Hauck <trent.hauck@gmail.com>  Trent Hauck <trent.hauck@gmail.com> 
Trent Hauck <trent.hauck@gmail.com>  tshauck <trent.hauck@gmail.com> 
tylerhartley <tyleha@gmail.com>  tylerhartley <tyleha@gmail.com> 
Vincent Arel-Bundock <varel@umich.edu>  Vincent Arel-Bundock <varel@umich.edu> 
Vincent Davis <vincent@vincentdavis.net>  Vincent Davis <vincent@vincentdavis.net> 
VirgileFritsch <virgile.fritsch@gmail.com>  VirgileFritsch <virgile.fritsch@gmail.com> 
Wes McKinney <wesmckinn@gmail.com>  Wes McKinney <wesmckinn@gmail.com> 
Wes McKinney <wesmckinn@gmail.com>  Wes McKinney <wesm@wesm-desktop> 
Yaroslav Halchenko <debian@onerussian.com>  Yaroslav Halchenko <debian@onerussian.com> 
zed <arn.zart+github@gmail.com>  zed <arn.zart+github@gmail.com> 
