skip_tags: true
clone_depth: 50

os: Visual Studio 2015

environment:
  matrix:
    - PY_MAJOR_VER: 2
      PYTHON_ARCH: "x86_64"
      PANDAS: "0.19"
    - PY_MAJOR_VER: 2
      PYTHON_ARCH: "x86_64"
      SCIPY: "0.14"
    - PY_MAJOR_VER: 3
      PYTHON_ARCH: "x86_64"


platform:
    - x64

build_script:
  - ps: Start-FileDownload "https://repo.continuum.io/miniconda/Miniconda$env:PY_MAJOR_VER-latest-Windows-$env:PYTHON_ARCH.exe" C:\Miniconda.exe; echo "Finished downloading miniconda"
  - cmd: C:\Miniconda.exe /S /D=C:\Py
  - SET PATH=C:\Py;C:\Py\Scripts;C:\Py\Library\bin;%PATH%
  - conda config --set always_yes yes
  - conda update conda --quiet
  - ps: If ($env:SCIPY) { conda install numpy scipy=$env:SCIPY cython pandas pip nose patsy --quiet } Else {
        If ($env:PANDAS) { conda install numpy scipy cython pandas=$env:PANDAS pip nose patsy --quiet } Else {
        conda install numpy scipy cython pandas pip nose patsy --quiet }}
  - python setup.py develop

test_script:
  - cd ..
  - nosetests --exe -v -A "not slow" statsmodels