# https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=azure-devops#passing-parameters

trigger:
- main

variables:
  MKL_NUM_THREADS: 1
  NUMEXPR_NUM_THREADS: 1
  OMP_NUM_THREADS: 1
  VML_NUM_THREADS: 1
  OPENBLAS_NUM_THREADS: 1
  OPENBLAS_VERBOSE: 2
  PYTHONHASHSEED: 0 # Ensure tests are correctly gathered by xdist
  SETUPTOOLS_USE_DISTUTILS: "stdlib"
  USE_MATPLOTLIB: true

jobs:

- template: tools/ci/azure/azure_template_windows.yml
  parameters:
    name: Windows
    vmImage: windows-2019

- template: tools/ci/azure/azure_template_posix.yml
  parameters:
    name: macOS
    vmImage: macOS-10.15

- template: tools/ci/azure/azure_template_posix.yml
  parameters:
    name: Linux
    vmImage: ubuntu-20.04
