global-include *.csv *.py *.txt *.pyx *.pyx.in *.pxd *.pxi *.c *.h *.pkl
include MANIFEST.in
include README.rst

recursive-exclude build *
recursive-exclude dist *
recursive-exclude tools *

graft statsmodels/datasets
graft statsmodels/sandbox/regression/data
graft statsmodels/sandbox/tests
graft statsmodels/sandbox/tsa/examples
recursive-include docs/source *
exclude docs/source/generated/*
recursive-include docs/sphinxext *
recursive-include docs/themes *
recursive-exclude docs/build *
recursive-exclude docs/build/htmlhelp *
include statsmodels/statsmodelsdoc.chm
include docs/make.bat
include docs/Makefile

recursive-include examples *

prune */__pycache__

global-exclude *~ *.swp  *.pyc *.pyo *.bak
include versioneer.py
include statsmodels/_version.py
