global-include *.csv *.py *.txt *.pyx *.c
#scikits*.*
include MANIFEST.in

#exclude docs/build/htmlhelp*
recursive-exclude build *
recursive-exclude dist *
recursive-exclude tools *
include tools/_build.py
include tools/example_rst.py
include tools/hash_funcs.py

graft statsmodels/datasets
graft statsmodels/tests
graft statsmodels/sandbox/regression/data
graft statsmodels/sandbox/tests
graft statsmodels/sandbox/tsa/examples
graft statsmodels/tsa/vector_ar/data
recursive-include docs/source *
exclude docs/source/generated/*
recursive-include docs/sphinxext *
recursive-exclude docs/build *
#recursive-include docs/build/html *
recursive-exclude docs/build/htmlhelp *
include statsmodels/statsmodelsdoc.chm
include docs/make.bat
include docs/Makefile
#include docs mak*
#include docs GLM*

recursive-include examples *

#missed files:  .npz, .npy
include statsmodels/tsa/vector_ar/tests/results/vars_results.npz
include statsmodels/iolib/tests/results/*
include statsmodels/stats/tests/results/influence_lsdiag_R.json
include statsmodels/sandbox/panel/test_data.txt
include statsmodels/stats/tests/results/influence_measures_R.csv
include statsmodels/stats/libqsturng/tests/bootleg.dat
include statsmodels/stats/libqsturng/CH.r
include statsmodels/stats/libqsturng/LICENSE.txt
include statsmodels/regression/tests/results/leverage_influence_ols_nostars.txt


global-exclude *~ *.swp  *.pyc *.bak
