# Requirements for doc build, in addition to requirements.txt
sphinx
# Avoid warnings which break Sphinx by pinning pandas
pandas>=2.2.2,!=2.1.0
sphinx-immaterial
jupyter
notebook
nbsphinx
nbconvert
pyyaml
pandas-datareader
simplegeneric
seaborn
numpydoc
theano-pymc; os_name != "nt"
pymc3; os_name != "nt"
arviz; os_name != "nt"
jinja2==3.0.3
pickleshare
pytest>=8.4.1,<9
