# Requirements for doc build, in addition to requirements.txt
sphinx
# Avoid warnings which break Sphinx by pinning pandas
pandas>=2.2.2,!=2.1.0
pydata-sphinx-theme
jupyter
notebook
nbsphinx
nbconvert
pyyaml
pandas-datareader
simplegeneric
seaborn
numpydoc
#  theano-pymc; os_name != "nt"  # disabled because it is not compatible with move recent Python version
pymc; os_name != "nt"
arviz; os_name != "nt"
jinja2
pickleshare
pytest>=8.4.1,<10
