# build
cython>=0.29.32,<3.0.0
setuptools_scm[toml]~=7.0.0
oldest-supported-numpy>=2022.4.18

# run
matplotlib>=3
colorama
joblib
Jinja2
# Remove due to failures on azure CI
# cvxopt; os_name != "win32"

# test
pytest~=7.0.1
pytest-randomly
pytest-xdist

# Pin on Win32
pywinpty; os_name == "nt"

# code quality
flake8
isort
