# build
cython>=0.29

# run
matplotlib>=3
# Remove due to failures on azure CI
# cvxopt; os_name != "win32"

# test
pytest
pytest-randomly
pytest-xdist

# Pin on Win32
pywinpty<1.0; os_name == "win32"
pywinpty; os_name != "win32"

# code quality
flake8
isort

# doc
sphinx
sphinx-material; python_version > '3.5'
jupyter
notebook
nbsphinx
nbconvert
pyyaml
pandas-datareader
simplegeneric
seaborn
numpydoc
