span.versionmodified.deprecated {
  color: #c00;
  font-weight: bold;
}

span.classifier:before {
    font-style: normal;
    margin: 0 0.5em;
    content: ":";
    display: inline-block;
}

div.deprecated, div.versionadded, div.versionchanged {
    background-color: #FFFFFF;
    border: .05rem solid;
    border-color: #459db9;
    border-radius: .2rem;
    /* box-shadow: 0 .2rem .5rem #d8d8d8,0 0 .0625rem #d8d8d8!important; */
    margin: 1.5625em auto;
    overflow: hidden;
    padding: 0 .6rem;
    page-break-inside: avoid;
    position: relative;
    transition: color .25s,background-color .25s,border-color .25s;
    vertical-align: middle;
    font-size: 0.72rem;
}
div.deprecated>p, div.versionadded>p, div.versionchanged>p {
    margin-bottom: .6rem;
    margin-top: .6rem;
}

div.deprecated {
    border-color: #dc3545;
    background-color: rgba(255, 0, 0, 0.1);
}

div.versionadded {
    border-color: #459db9;
    background-color: rgba(0, 191, 255, 0.1);
}

span.versionmodified {
    font-weight: 600;
}

.versionmodified {
    font-style: italic;
}

div.deprecated p:before {
    background-color: #dc3545;
}

div.versionadded p:before {
    background-color: #459db9;
}

span.versionmodified.deprecated:before {
    color: #dc3545;
}

span.versionmodified.added {
    color: #459db9;
}
