name: Generate Documentation

on:
  release:
    types: [published]
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Checkout statsmodels.github.io
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
        repository: statsmodels/statsmodels.github.io
        path: statsmodels.github.io
    - name: Install pandoc
      uses: r-lib/actions/setup-pandoc@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel setuptools
        python -m pip install -r requirements.txt
        python -m pip install -r requirements-dev.txt
        python -m pip list
    - name: Install statsmodels
      run: echo python -m pip install -e . --no-build-isolation -v
    - name: Build documentation
      run: |
        pushd docs
        # TODO: Enable
        # O="-j auto" make html
        popd
    - name: Move and commit documentation
      env:
        GIT_TAG: ${{ github.event.release.tag_name }}
      run: |
        echo ${PWD}
        ls
        # TODO: Remove
        date +"%T" > statsmodels.github.io/test.html
        source tools/ci/commit-docs.sh
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        branch: master
        directory: statsmodels.github.io
        repository: statsmodels/statsmodels.github.io
        github_token: ${{ secrets.GITHUB_DOCBUILD_TOKEN }}

